/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD

=======
>>>>>>> 3089881721ee43388683072590059ba7da755ee0
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD
=======


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> 3089881721ee43388683072590059ba7da755ee0
