<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceso</title>
</head>
<body>
<div class="acceso">
  <mat-card class="register">
    <mat-card-title class="tittle">Registro de acceso al Sistema de Preinscripciones</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Número de identificación</mat-label>
          <input matInput placeholder="1725542961" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" required>
        </mat-form-field>
        <button id="botton1" mat-raised-button color="primary">Enviar</button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="information">
    <mat-card-content>
      <p>
        Estimado Representante.
        El proceso es únicamente para nuevos aspirantes a los niveles de Primero de Básica hasta Primero de Bachillerato.
        <br>Debe registrarse en el sistema con el número de cédula del/la aspirante y un correo electrónico válido del/la representante.
        <br>Inmediatamente recibirá, en el correo registrado, las instrucciones para continuar. Recuerde revisar el buzón de Spam o correo No Deseado.
        Si necesita soporte, por favor comuníquese al correo tecnologias@csgabriel.edu.ec
        Saludos cordiales.
      </p>
    </mat-card-content>
  </mat-card>
</div>

</body>
</html>
