<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>



<body>
<form>
  <!PRIMERA PÁGINA>

  <mat-stepper #stepper>
    <mat-step>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>INFORMACIÓN</ng-template>

        <div>
          <p></p>
          <button mat-button matStepperNext >Siguiente</button>
        </div>

      </form>
    </mat-step>




    <!SEGUNDA PÁGINA>

    <mat-step [stepControl]="secondFormGroup" errorMessage="Llenar todos los campos.">
      <form  [formGroup]="secondFormGroup">
        <ng-template  matStepLabel>ESTUDIANTE</ng-template>

        <div>

          <!COMPONENTE ESTUDIANTE>
          <app-estudiante></app-estudiante>
          <button  mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>



      <!TERCERA PÁGINA>


      <mat-step [stepControl]="thirdFormGroup" errorMessage="Llenar todos los campos.">
        <form  [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>REPRESENTANTE</ng-template>

      <!COMPONENTE REPRESENTANTE>
          <div>
      <app-representante></app-representante>
            <div></div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
        </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>FINALIZAR</ng-template>
      <p>Estudiante Inscrito.</p>

      <div></div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Inscribir Nuevo Estudiante</button>
      </div>
    </mat-step>

  </mat-stepper>

</form>

</body>
</html>
