.contiene_sis{
  height: 100vh !important;
 /* background-image: url("src/fondo.jpg");*/
}
.class1{
 /*  background-color: #D4AC0D;*/

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
