<div class="navbarPrincipal">


<mat-toolbar color="primary">
  <button mat-icon-button routerLink="inicio" class="homeButton"><mat-icon>home</mat-icon></button>
  <span><strong>INICIO</strong></span>

  <span class="example-spacer"></span>
  <button mat-raised-button routerLink="estudiante" color="accent" style="margin: 10px">Estudiante</button>
  <button mat-raised-button routerLink="representante" color="accent" style="margin: 10px">Representante</button>
  <button mat-raised-button routerLink="finalizar" color="accent" style="margin: 10px">Finalizar Inscripcion</button>
  <span class="example-spacer"></span>



</mat-toolbar>
</div>
