<!doctype html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>


<body>

<form [formGroup]="representanteForm" class="informationRepresentante">
  <mat-form-field class="informationRepresentante" appearance="fill">
    <mat-label></mat-label>
    <input matInput disabled value="">
  </mat-form-field>

<h4> INFORMACION DEL REPRESENTANTE </h4>

  <!--*************************APELLIDOS*************************-->
    <td><mat-form-field class="parentLastName" appearance="fill">
    <mat-label>Apellido1 Apellido2</mat-label>
    <input matInput formControlName="lastNameParent" required>
      <mat-icon matPrefix> contacts</mat-icon>
      <mat-error *ngIf="lastNameParent.hasError('required')">
      Ingrese sus apellidos
    </mat-error>
  </mat-form-field></td>

  <!--*************************NOMBRES*************************-->
  <td><mat-form-field class="parentName" appearance="fill">
    <mat-label>Nombre1 Nombre2</mat-label>
    <input matInput formControlName="nameParent" required>
    <mat-icon matPrefix> contacts</mat-icon>
    <mat-error *ngIf="nameParent.hasError('required')">
      Ingrese sus nombres
    </mat-error>
  </mat-form-field></td>


<! ––«***********TIPO DE IDENTIFICACIÓN***************«––>
  <p></p>
<h4> TIPO DE IDENTIFICACION </h4>
  <mat-radio-group  class="buttonParentCI" labelPosition="before" formControlName="parentCI2" required  aria-label="Seleccione el tipo de Identificación" >


  <mat-radio-button value="1">Cedula</mat-radio-button>
  <mat-radio-button value="2">Pasaporte</mat-radio-button>
    <mat-error *ngIf="parentCI.hasError('required') ">
      Elija una opcion
    </mat-error>
</mat-radio-group>

    <mat-form-field appearance="fill">
    <mat-label>Numero de Identificación</mat-label>
      <input matInput id="parentCI2" (keydown)="check($event)" name="parentCI2" formControlName="parentCI2" minlength="10" maxlength="15">
      <mat-icon matPrefix>perm_identity</mat-icon>
      <mat-error *ngIf="parentCI2.invalid">{{msgValidateCedula()}}

    </mat-error>

  </mat-form-field>





<! ––«***********PARENTEZCO***************«––>

<h4> PARENTEZCO CON EL ESTUDIANTE </h4>


  <h4>Seleccione una opcion</h4>
  <mat-form-field appearance="fill">
    <mat-icon matPrefix>group</mat-icon>
    <mat-label >Parentezco</mat-label>
    <select formControlName="parentezco" required matNativeControl required>
      <option value=""> </option>
      <option value="PADRE">PADRE</option>
      <option value="MADRE">MADRE</option>
      <option value="ABUELOS">ABUELO/A</option>
      <option value="TIOS">TIO/A</option>
      <option value="otro">Otro..</option>
    </select>

    <mat-error *ngIf="parentezco.hasError('required')">
      Campo requerido
    </mat-error>

  </mat-form-field>



<h4>Si la respuesta fue "Otro" escriba su respuesta</h4>

<mat-form-field class="studentParent2" appearance="fill">
  <mat-label>Parentezco del Representante</mat-label>
  <mat-icon matPrefix>group</mat-icon>
  <textarea matInput placeholder=" "></textarea>
</mat-form-field>



<! ––«***********DIRECCION***************«––>
<h4> DOMICILIO DEL REPRESENTANTE </h4>
<! ––«***********CIUDAD***************«––>

  <td><mat-form-field class="parentCity" appearance="fill">
    <mat-label>CANTON</mat-label>
    <input matInput id="parentCity" name="parentCity"  formControlName="parentCity"  minlength="10" maxlength="150">
    <mat-icon matPrefix>location_city</mat-icon>
    <mat-error *ngIf="representanteForm.invalid">{{msgValidateTexto()}}</mat-error>
  </mat-form-field></td>



  <td><mat-form-field class="parentAddress" appearance="fill">
    <mat-label>DIRECCION EXACTA</mat-label>
    <input matInput id="parentAddress" name="parentAddress"  formControlName="parentAddress"  minlength="10" maxlength="150">
    <mat-icon matPrefix>home</mat-icon>
    <mat-error *ngIf="representanteForm.invalid">{{msgValidateTexto()}}</mat-error>
  </mat-form-field></td>



<! ––«***********MAIL***************«––>

<h4> MAIL DE CONTACTO </h4>

  <mat-form-field appearance="fill">
    <mat-label>Email de Contacto</mat-label>
    <input matInput id="email" name="email" formControlName="email" placeholder="pat@example.com">
    <mat-icon matPrefix> contact_mail</mat-icon>
    <mat-error *ngIf="representanteForm.invalid">{{msgValidateEmail()}}</mat-error>
  </mat-form-field>

<! ––«****************CONTACTOS*******************«––>
<h4> NUMEROS DE CONTACTO </h4>

<! ––«***********Telefono1***************«––>

  <td><mat-form-field appearance="fill">
    <mat-label>Telefono Convencional</mat-label>
    <span matPrefix> </span>
    <input (keydown)="check($event)" type="tel" matInput id="parentPhone1" formControlName="parentPhone1" required  minlength="10" maxlength="10" placeholder="098-027-5610">
    <mat-icon matSuffix>phone</mat-icon>

    <mat-error *ngIf="this.representanteForm.invalid">{{msgValidateCelular()}}

    </mat-error>

  </mat-form-field></td>

<! ––«***********Telefono2***************«––>

  <td><mat-form-field class="Numero de Contacto2" appearance="fill">
    <mat-label>Celular 2</mat-label>

    <input (keydown)="check($event)" type="tel" matInput id="parentPhone2" formControlName="parentPhone2" requered minlength="10" maxlength="10"  placeholder="098-027-5610">
    <mat-icon matSuffix>phone_android</mat-icon>

    <mat-error *ngIf="representanteForm.invalid">{{msgValidateCelular()}}
    </mat-error>
  </mat-form-field></td>

  <p> <button id="button1" type="submit" mat-raised-button>Guardar
    <mat-icon matPrefix>save</mat-icon>
  </button> </p>

</form>
</body>
</html>


