/* NOMBRES Y APELLIDOS*/
.studentPrincipal {
  background-color: #D4E6F1;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto !important;
}


.student_info {
  padding: 60px 0;

  width: 80%;
  margin: 0 auto;
  background-color: #EAFAF1 ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
}

form{
  background: #F5B7B1;
  width: 80%;

}

.class1{

  background-color: #45B39D ;
  display: flex;
  justify-content: space-evenly;
  gap: 2.5em;
  flex-wrap: wrap;

}

  .class1 .studentInput {
  background: blueviolet;

}


.example-section {
  margin: 12px 0;
}

/* CON QUIENES VIVE
.homeStudent {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}*/


/*TIPO DE IDENTIFICACION */
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


/*CEDULA O PASAPORTE */
.inputStudentCI {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


/* NIVEL AL QUE APLICA*/
.levelAplication {
  width: 100%;
}


/* INSTITUCIÓN DE PROCEDENCIA*/
.informationInstitution {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


/* HIJO DE EX ALUMNO*/
.ex-alumnoChild {
  width: 100%;
}

.ex-alumnoChild2 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


/* DIRECCION*/
.studentAddress {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/*CIUDAD*/
.city {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/*  SUBIR IMAGEN  */


.wrapper-button {
  padding-top: 1rem;
  width: 100%;
}


.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.w-100 {
  width: 100%;
}

td {
  padding-right: 8px;
}
