<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="acceso">
        <mat-card class="register">
            <mat-card-title class="tittle">Acceso al Sistema de Preinscripciones</mat-card-title> 
            <mat-card-content>
                <form (ngSubmit)="onSubmit()" [formGroup] ="dataForm">      
                    <mat-form-field appearance="fill">
                        <mat-label>Número de identificación</mat-label>
                        <input class="form-control" id="cedula" name="cedula" formControlName="cedula" matInput placeholder="1725542961" required>                                    
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Clave</mat-label>
                        <input matInput type="password" formControlName="clave" required>               
                    </mat-form-field>
                    <button type="submit" [disabled]="dataForm.invalid" id="botton1" mat-raised-button color="primary">Enviar</button>     
                </form>
            </mat-card-content>
          </mat-card>
          <mat-card class="information">
            <mat-card-content>
                <img src="dinosaur.jpg">
            </mat-card-content>
          </mat-card>
    </div>
    
</body>
</html>