<mat-toolbar color="primary">
  <button mat-icon-button routerLink="inicio" class="homeButton" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Sistema de Preinscripciones</span>

  <span class="example-spacer"></span>
  <button mat-raised-button routerLink="estudiante" color="accent" style="margin: 10px">Estudiante</button>
  <button mat-raised-button routerLink="representante" color="accent" style="margin: 10px">Representante</button>
  <span class="example-spacer"></span>

  <button mat-icon-button routerLink="login" class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
